<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>𝑼𝒃𝒆𝒓 𝑾𝒆𝒆𝒌𝒍𝒚 𝑹𝒊𝒅𝒆𝒔 𝑨𝒏𝒂𝒍𝒚𝒔𝒊𝒔</title>
    </head>
    <body>
        <h1>𝑼𝒃𝒆𝒓 𝑾𝒆𝒆𝒌𝒍𝒚 𝑹𝒊𝒅𝒆𝒔 𝑨𝒏𝒂𝒍𝒚𝒔𝒊𝒔</h1>
        <form action="{{url_for('predict')}}" method="post">
            <input type="test" name="Price per week" placeholder="Price per week" required="required/">
            <input type="test" name="Population" placeholder="Population" required="required/">
            <input type="test" name="Monthly income" placeholder="Monthly income" required="required/">
            <input type="test" name="Average parking permonth" placeholder="Average parking permonth" required="required/">
            <button type="submit">Predict</button>
        </button>
        
        </form>
    </body>

</html>
